/*homepage intro texts*/
.homepage-headline {
    color: white;
    text-align: center; /* Centers the text */
    font-size: 50px; /* Makes the text bigger */
    font-weight: bold; /* Makes the text bold */
    margin-top: 100px; /* Adds space above if needed */
}

.under-headline {
    color: white;
    text-align: center; /* Centers the text */
    font-size: 40px; /* Makes the text bigger */
    font-weight: lighter; /* Makes the text bold */
}

.intro {
    color: white;
    text-align: center; /* Centers the text */
    font-size: 20px; /* Makes the text bigger */
    font-weight: lighter; /* Makes the text bold */
    margin-top: 20px; /* Adds space above if needed */
    margin-left: 20rem;
    margin-right: 20rem;
}
.homepage-text {
    padding: 3rem;

}

/*images in homescreen*/
.home-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    width: 100%; /* Full width but responsive */
    max-width: 1700px; /* Prevents it from being too wide */
    height: 100vh; /* Full viewport height */
    margin: 0 auto; /* Centers the grid on the page */
    gap: 0; /* No space between images */
    overflow: hidden; /* Prevents scrolling */
}

.home-img img {
    width: 100%; /* Fills grid column */
    height: 100vh; /* Fills full height */
    object-fit: cover; /* Ensures proper scaling without distortion */
}





